 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items:  center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 300px auto;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1) ;
}
.container .left_side {
    position: relative;
    padding: 40px;
    background: #003147;

}
.profile_text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profile_text .imagen{
    position: relative;
    border-radius: 50%;
    overflow: hidden;


    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*.profile_text .imagen img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
.profile_text h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;


}
.profile_text h2 span {
    font-size: 0.8em;
    font-weight: 300;
}
.container .right_side {
    position: relative;
    padding: 40px;
    background: #fff;

}
.container .right_side .about p{
    font-size: 16px;
    color: black;
    margin-top: 5px;
    
    font-weight: bold;
}
.contact_info{
    padding-top: 40px;
}
.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contact_info ul{
    position: relative;
    
}
.contact_info ul li{
    position: relative;
    list-style: none;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;

}
.contact_info ul li .icon{
    display: inline-block;
    width: 25px;
    font-size: 16px;
    color: #03a9f4;
    margin: auto;
}
.contact_info ul li span{
    color:#fff;
    font-weight: 100;
    display: inline;
    position: relative;
    font-size: 15px;
    
    
    
}
.Educacion{
    margin-top: 15px;
}
.Educacion li{
    margin-bottom: 15px;
    list-style: none;
}
.Educacion h5{
    color: #03a9f4;
    font-weight: 600;

}
.Educacion h4:nth-child(2){
    color: #fff;
    font-weight: 400;
}
.Educacion h4{
    color: #fff;
    font-weight: 400;
    
}
.idiomas li{
    margin-bottom: 15px;
    list-style: none;
}
.idiomas h5{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
 h2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-shadow: 1px 1px blue ;
}
p {
    color: #333;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    letter-spacing: 1px;

}
.about .box .year_company{
    min-width: 150px;
}
.about .box .year_company h5{
    text-transform: uppercase;
    color: #0e0e0f;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px black;
    

}
.box .year_company .text p{
    font-size: 16px;
    color: black;
    margin-top: 5px;
    
    font-weight: bold;
}

.about2 {
    display: grid;
    grid-template-columns: auto auto;
}
.about2 ul{
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: 17px;
}
.about2 ul li{
    color: black;
    font-weight: bold;
}
